<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01_关键字及分类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Include.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>c2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>fgets,fputs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>static#extern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>typedef关键字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>一维指针数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>两个数交换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>二级指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>二维数组指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>使用指针对数组进行逆序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>单词个数 ，首字母大写.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>字符串指针介绍.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>字符串排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>宏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>常见的内存分配函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>推箱子.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>数组指针遍历数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>枚举.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>用数组名访问二维数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>结构体数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>获取星期.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>迷宫游戏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B0FCCE21F7C9D10004A5DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0FCCED1F7CE140004A5DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0FCCF81F7CED72004A5DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0FCD031F7CFB52004A5DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B538F451F90B0BC00C1D8F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B6003B61F7A25870068455C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B6011E91F7F2D4B005A2A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B6011F41F7F3CAC005A2A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B6011FF1F7F48F5005A2A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B60120A1F7F6EE8005A2A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B6012151F7F87F5005A2A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB9AAF21F8B007300B32B03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB9F30C1F8EFB780068C116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB9F3171F8F01AE0068C116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB9F3221F8F1FEA0068C116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC597AB1F7DDA46002A42BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC597B61F7DF61A002A42BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC597C11F7E1E8B002A42BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC597CC1F7E357E002A42BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC597D71F7E4196002A42BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BF81CC31F7B3B81006EE35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BF81CCE1F7B7149006EE35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BF81CD91F7B96A6006EE35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD48E4211F78D24700A085F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD48E42F1F78D2B000A085F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
