<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>series</key>
		<string>亚洲</string>
		<key>continentDescription</key>
		<string>亚洲描述</string>
		<key>countries</key>
		<array>
			<dict>
				<key>country</key>
				<string>中国</string>
			</dict>
			<dict>
				<key>country</key>
				<string>日本</string>
			</dict>
			<dict>
				<key>country</key>
				<string>韩国</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>series</key>
		<string>亚洲</string>
		<key>continentDescription</key>
		<string>亚洲描述</string>
		<key>countries</key>
		<array>
			<string>中国</string>
			<string>日本</string>
			<string>韩国</string>
		</array>
	</dict>
	<dict>
		<key>series</key>
		<string>亚洲</string>
		<key>continentDescription</key>
		<string>亚洲描述</string>
		<key>countries</key>
		<array>
			<string>中国</string>
			<string>日本</string>
			<string>韩国</string>
		</array>
	</dict>
	<dict>
		<key>series</key>
		<string>亚洲</string>
		<key>continentDescription</key>
		<string>亚洲描述</string>
		<key>countries</key>
		<array>
			<string>中国</string>
			<string>日本</string>
			<string>韩国</string>
		</array>
	</dict>
	<dict>
		<key>series</key>
		<string>非洲</string>
		<key>continentDescription</key>
		<string>非洲描述</string>
		<key>countries</key>
		<array>
			<string>印度</string>
			<string>埃塞尔比亚</string>
			<string>索马里</string>
		</array>
	</dict>
	<dict>
		<key>series</key>
		<string>欧洲</string>
		<key>continentDescription</key>
		<string>欧洲描述</string>
		<key>countries</key>
		<array>
			<string>德国</string>
			<string>法国</string>
			<string>英国</string>
		</array>
	</dict>
</array>
</plist>
